accelerate
transformers[torch]
datasets
pyav
torchvision
evaluate
scikit-learn
seaborn
pandas
ipykernel
pooch
tabulate
imageio==2.34.0
ipywidgets==8.1.2
keras==2.13.1
matplotlib
numpy
opencv-python
scipy
tensorflow==2.13.1
